page-booklist {
    // Method to to call an image from the files to insert as a background
    .mainBack-image {
        background-image: url('../../assets/imgs/Background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: large;
    }

    // Method to make the items transparent with color
    #mainGrouped{
        background: transparentize($color: #000000, $amount: 0.4);
    }

    // Method to make the items completely transparent.
    #mainGroupedClear{
        background: transparent;
    }

    // Creating column and row lines with white text
    table, th, td{
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
        color: rgb(255, 255, 255);
    }
   
    // Black transparentcy on headings
    table thead{
        background-color: transparentize($color: #000000, $amount: 0.4);
    }

    // Data text = white
    label, td, tr {
        color: white;
    }

}
