page-list {
    .mainBack-image {
        background-image: url('../../assets/imgs/Background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: large;
    }

    #mainGrouped{
        background: transparentize($color: #000000, $amount: 0.4);
    }

    #mainGroupedClear{
        background: transparent;
    }

    #middle{
        justify-content: center;
        display: flex!important;
        align-items: center!important;
    }
}
