<!-- Create Header with title and toobar for MyBook Screen -->
<!-- Create Icon on the LEFT side of the title -->
<ion-header>
  <ion-toolbar color = "dark">
    <ion-title item-start>
      <ion-icon name="ios-list-box-outline"></ion-icon>  
    My Books</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Start of page content -->
<ion-content padding class = "mainBack-image">  
  <ion-item id= "mainGrouped" no-lines>

    <!-- Button for refresing list of books -->
    <button ion-button icon-only color="light" round large clear item-right (click) = "getBookList()">
      <ion-icon name="refresh"></ion-icon>
    </button>

    <!-- Button for giving a help alert message -->
    <button ion-button icon-only color="light" round large clear item-right (click) = "showHelpAlert()">
      <ion-icon name="help"></ion-icon>
    </button>
  </ion-item> 
  
  <!-- <table datatable [dtOptions] = "dtOptions" [dtTrigger] = "dtTrigger" class = "row-border hover">
    <thead>
      <tr>
          <th>Book Number</th>
          <th>Book Name</th>
          <th>Edition</th>
          <th>Price</th>
          <th>Type</th>
          <th>Author</th>
          <th>Subject</th>
      </tr>
    </thead>
    <tbody>
      <tr **ngFor="let book of books">
          <td>{{book.Book_Number}}</td>
          <td>{{book.Book_Name}}</td>
          <td>{{book.Book_Edition}}</td>
          <td>{{book.Book_Price}}</td>
          <td>{{book.Book_Type}}</td>
          <td>{{book.Author_Name}}</td>
          <td>{{book.Subject_Code}}</td>
      </tr>
    </tbody>
  </table> -->

  <!-- <p> {{data | json}} </p>

  <table class="table table-reponsive table-condensed">
    <tr>
      <th *ngFor = "let t of tableLabel"> {{t}} </th>
    </tr>
    <tr *ngFor = "let d of tableData">
      <td *ngFor = "let t of tableLable; let j = index"> {{d && d.data[j]}} </td>
    </tr>
  </table> -->

  <!-- <p> {{data | json}} </p> -->

 <!-- 00000000000000000000000000000000000000000000000000000000000000000000000000000000  -->
  <!-- <table datatable class = "row-border hover">
    <thead>
    <tr>
        <th>Book Number</th>
        <th>Book Name</th>
        <th>Edition</th>
        <th>Price</th>
        <th>Type</th>
        <th>Author</th>
        <th>Subject</th>
    </tr>
  </thead>
  <tbody *ngIf = "books?.length != 0">
    <tr *ngFor = "let book of myBook">
        <td>{{book.Book_Number}}</td>
        <td>{{book.Book_Name}}</td>
        <td>{{book.Book_Edition}}</td>
        <td>{{book.Book_Price}}</td>
        <td>{{book.Book_Type}}</td>
        <td>{{book.Author_Name}}</td>
        <td>{{book.Subject_Code}}</td>
    </tr>
  </tbody>
  </table> -->
<!-- 000000000000000000000000000000000000000000000000000000000000000000000 -->
  <!-- <br>
    <table cellpadding = "0" cellspacing = "0" ng-show = "isVisible" class = "container-fluid" id= "mainGrouped">
      <thead>
        <tr>
          <th>Book Number</th>
          <th>Book Name</th>
          <th>Edition</th>
          <th>Price</th>
          <th>Type</th>
          <th>Author</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{bookNumber}}</td>
          <td>{{bookName}}</td>
          <td>{{edition}}</td>
          <td>{{price}}</td>
          <td>{{type}}</td>
          <td>{{author}}</td>
          <td>{{subject}}</td>
        </tr>  
      </tbody>
    </table> -->

</ion-content>

<!-- Footer for the MyBook screen -->
<ion-footer>
  <ion-toolbar color = "dark">
    <div class = "row">

      <!-- Button to go books list, ON THE LEFT-->
      <div class = "col">
        <button ion-button color="light" block round outline icon-start (click) = "onToGoAdd()">
          <ion-icon name="ios-create-outline"></ion-icon>  
        Add</button>
      </div> 

      <!-- Button to remove a book, ON THE RIGHT -->
      <div class = "col">
        <button ion-button color="light" block round outline icon-start (click) = "showRemovePrompt()">
          <ion-icon name="ios-trash-outline"></ion-icon>
        Remove</button>
      </div>
    </div>

    <!-- Go back button -->
    <button ion-button color="light" block round outline icon-start (click) = "onGoToMenu()">
      <ion-icon name="ios-arrow-back"></ion-icon>
      <ion-icon name="ios-arrow-back"></ion-icon>
    Back</button>
  </ion-toolbar>
</ion-footer>