<!-- Create Header with title and toobar for MyBook Screen -->
<!-- Create Icon on the LEFT side of the title -->
<ion-header>
  <ion-toolbar color = "dark">
    <ion-title item-start>
      <ion-icon name="ios-list-box-outline"></ion-icon>  
    My Books</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Start of page content -->
<ion-content padding class = "mainBack-image">  
  <ion-item id= "mainGrouped" no-lines>

    <!-- Button for refresing list of books -->
    <button ion-button icon-only color="light" round large clear item-right (click) = "getMyBookList()">
      <ion-icon name="refresh"></ion-icon>
    </button>

    <!-- Button for giving a help alert message -->
    <button ion-button icon-only color="light" round large clear item-right (click) = "showHelpAlert()">
      <ion-icon name="help"></ion-icon>
    </button>
  </ion-item> 

    <div style="overflow-x:auto" id= "mainGrouped">
      <!-- Data table displaying Headers and list of books -->
      <table datatable>
        <thead>
          <!-- Headers -->
          <tr>
            <th>Book Number</th>
            <th>Book Name</th>
            <th>Edition</th>
            <th>Subject</th>
            <th>Price</th>
            <th>Type</th>
            <th>Author</th>
            <th>Date Place</th>
            <th>ISBN 10</th>
            <th>ISBN 13</th>      
          </tr>
        </thead>
        <!-- If book array is smaller than 0 -->
        <tbody *ngIf = "books?.length != 0">

        <!-- List of book content -->
        <tr *ngFor = "let book of books">
          <td>{{book.Book_Number}}</td>
          <td>{{book.Book_Name}}</td>
          <td>{{book.Book_Edition}}</td>
          <td>{{book.Subject_Code}}</td>
          <td>{{book.Book_Price}}</td>
          <td>{{book.Book_Type}}</td>
          <td>{{book.Author_Name}}</td>
          <td>{{book.Date_Placed | date: "yyyy-MM-dd"}}</td>     
          <td>{{book.Book_ISBN_10_Number}}</td>
          <td>{{book.Book_ISBN_13_Number}}</td>
        </tr>
        </tbody>
      </table>
      <p>Total : {{books?.length}}</p>
    </div> 
    
</ion-content>

<!-- Footer for the MyBook screen -->
<ion-footer>
  <ion-toolbar color = "dark">
    <div class = "row">

      <!-- Button to go books list, ON THE LEFT-->
      <div class = "col">
        <button ion-button color="light" block round outline icon-start (click) = "onToGoAdd()">
          <ion-icon name="ios-create-outline"></ion-icon>  
        Add</button>
      </div> 

      <!-- Button to remove a book, ON THE RIGHT -->
      <div class = "col">
        <button ion-button color="light" block round outline icon-start (click) = "showRemovePrompt()">
          <ion-icon name="ios-trash-outline"></ion-icon>
        Remove</button>
      </div>
    </div>

    <!-- Go back button -->
    <button ion-button color="light" block round outline icon-start (click) = "onGoToMenu()">
      <ion-icon name="ios-arrow-back"></ion-icon>
      <ion-icon name="ios-arrow-back"></ion-icon>
    Back</button>
  </ion-toolbar>
</ion-footer>