page-mybook {
    // Method to to call an image from the files to insert as a background
    .mainBack-image {
        background-image: url('../../assets/imgs/Background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: large;
    }

    // Method to make the items transparent with color
    #mainGrouped{
        background: transparentize($color: #000000, $amount: 0.4);
    }

    // Method to make the items completely transparent.
    #mainGroupedClear{
        background: transparent;
    }
}
