page-mybook {
    // Method to to call an image from the files to insert as a background
    .mainBack-image {
        background-image: url('../../assets/imgs/Background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: large;
    }

    // Method to make the items transparent with color
    #mainGrouped{
        background: transparentize($color: #000000, $amount: 0.4);
    }

    // Method to make the items completely transparent.
    #mainGroupedClear{
        background: transparent;
    }

    table {
        background: transparentize($color: #000000, $amount: 0.4);
        border:none;
        width: 650px;
        height: 300px;
        border-collapse: collapse;
        
    }
    
    table td {
        border-left: 2px solid #000;
        border-right: 2px solid #000;
    }

    thead { 
        background: transparentize($color: #000000, $amount: 0.4) 
    }

    tr.odd { 
        background: black transparentize($color: white, $amount: 0.4)
    }

    tr.even { 
        background: black transparentize($color: #000000, $amount: 0.4)
    }

    table td:first-child {
        border-left: none;
    }
    
    table td:last-child {
        border-right: none;
    }
   
}
